:root {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
  --Gray-light: #F7F7F7;
  --Blue-shadow: rgba(83, 104, 223, 0.2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

body {
  font-size: 1.8rem;
  color:var(--Very-Dark-Blue);
}

/* NAVBAR */
.navbar {
  margin: 0 auto;
  text-align: center;
  max-width: 82.93%;
  padding: 4rem 0;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: 0;
  padding: 10px 20px;
}

.menu--item {
  font-size: 1.3rem;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  color: var(--Very-Dark-Blue);
  text-transform: uppercase;
  transform: ALL 0.4S;
  letter-spacing: 0.06em;
}

.menu--item:hover {
  color: var(--Soft-Red);
}

.login {
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--Blue-shadow);
  color: #fff;
  background-color: var(--Soft-Red);
  padding: 1rem 3.2rem 0.9rem 3.2rem;
  margin-left: 2.5rem;
  border: 2px solid var(--Soft-Red);
  transform: all 0.4s;
}

.login:hover {
  color: var(--Soft-Red);
  background-color: #fff;
  border: 2px solid var(--Soft-Red);
}

.nav__menu {
  display: none;
}


/* Hero Section */
  .hero {
    position: relative;
  }

  .blue-thingy {
    position: absolute;
    top: 6rem;
    right: 0px;
    border-bottom-left-radius: 100px;
    background-color: var(--Soft-Blue);
    width: 30rem;
    height: 21rem;
    z-index: 1;
  }

  .hero__box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .box-image {
    order: -1;
    z-index: 2;
  }

  .box-items {
    max-width: 82.933%;
    margin: 0 auto;
    text-align: center;
    height: 27.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;
  }

  .items-header {
    font-size: 3rem;
  }

  p,
  .items-desc,
  .features-desc {
    font-size: 1.5rem;
    color: var(--Grayish-Blue);
    line-height: 1.7em;
  }

  .items-buttons {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    padding: 1.2rem 1.5rem 1.6rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 5px 5px var(--Blue-shadow);
  }

  .btn:hover {
    padding: 1rem 1.3rem 1.4rem 1.3rem;
  }

  .btn-blue {
    background-color: var(--Soft-Blue);
    color: #fff;
  }

  .btn-blue:hover {
    background-color: #fff;
    color: var(--Soft-Blue);
    border: 2px solid var(--Soft-Blue);
  }

  .btn-grey {
    background-color: var(--Gray-light);
    color: var(--Very-Dark-Blue);
  }

  .btn-grey:hover {
    border: 2px solid var(--Very-Dark-Blue);
    background-color: #fff;
    color: var(--Very-Dark-Blue);
  }


  /* Features Section */
  .features {
    margin-bottom: 8rem;
  }

  .features__intro {
    max-width: 82.933%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10rem;
  }

  .features-header, h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .features-desc {
    padding-bottom: 4rem;
  }

  .features__options {
    max-width: 82.93%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .features__options a {
    border-top: 2px solid hsla(231, 69%, 60%, 20%);
    padding: 2.5rem 0 1.5rem 0;
  }

  .features__options a:last-child {
    border-bottom: 2px solid hsla(231, 69%, 60%, 20%);
  }

  .features-option {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--Very-Dark-Blue);
    letter-spacing: 0.05em;
  }

  .features-sub {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10rem;
  }

  .blue-thingy2 {
    position: absolute;
    top: 4rem;
    left: 0px;
    border-bottom-right-radius: 100px;
    background-color: var(--Soft-Blue);
    width: 30rem;
    height: 20rem;
    z-index: -1;
  }

  .bookmarking-image {
    max-width: 82.93%;
    margin: 0 auto;
    z-index: 2;
    margin-bottom: 5rem;
  }

  .subfeatures-text {
    max-width: 82.93%;
    margin: 0 auto;
  }

  .subfeatures--header, h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .subfeatures--desc {
    padding-bottom: 4rem;
  }

  .md-screen {
    display: none;
  }

  /*DOWNLOADS*/
  .download {
    max-width: 82.93%;
    margin: 0 auto; 
    text-align: center;
    margin-bottom: 10rem;
  }

  .download__header {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .download__desc {
    margin-bottom: 4rem;
  }

  .download__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 5px 20px var(--Blue-shadow);
    width: 28rem;
    height: 37.1rem;
    margin-bottom: 4rem;
  }

  .badge-logo {
    margin-top: 3.5rem;
  }

  .badge-header {
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 3rem;
    font-weight: 500;
  }

  .badge-desc {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

 .dots {
   width: 100%;
   margin-bottom: 2.5rem;
   margin-top: 2rem;
 }

 .xpad {
  padding-left: 4rem;
  padding-right: 4rem;
 }

 /*FAQ*/

 .faq {
  max-width: 82.93%;
  margin: 0 auto; 
  text-align: center;
}

.faq__header {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.faq__desc {
  margin-bottom: 5rem;
}

.quest-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.quest {
  font-size: 1.5rem;
  font-weight: 300;
}

.quest-img {
  max-width: 100%;
}

.icon-arrow {
  width: 100%;
}

.faq__questions {
  padding-bottom: 1rem;
  border-bottom: 2px solid #9797974b;
  margin-bottom: 2rem;
}

.more-info {
  margin: 5rem 0 15rem 0;
}

/* CTA CONTACT */
.cta-container {
  background-color: var(--Soft-Blue);
  padding: 6rem 0 4rem 0;
}

.cta {
  max-width: 82.93%;
  margin: 0 auto; 
  text-align: center;
}

.cta__header3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.cta__header2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.label {
  display: none;;
}

form.contact-us {
  display: flex;
  flex-direction: column;
}

#email {
  border: none;
  border-radius: 5px;
  padding: 1.2rem 1.5rem 1.6rem 1.5rem;
  margin-bottom: 1.5rem;
}

.btn-red {
  background-color: var(--Soft-Red);
  color: #fff;
  font-size: 1.4rem;
}

footer {
  background-color: var(--Very-Dark-Blue);
  color: #fff;
  padding: 4rem 0 4rem 0;
}

.footer-logo {
  margin-bottom: 4rem;
}

.footer-menu {
  max-width: 82.93%;
  margin: 0 auto; 
  text-align: center;
}

ul {
  list-style: none;
}

.footer-menu__items {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.footer-menu__item {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.07em;
  padding-bottom: 3rem;
  transition: all 0.4s;
}

.footer-menu__item:hover {
  color: var(--Soft-Red);
}

.social-icons {
  margin: 0 auto;
  display: flex;
  width: 8.8rem;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer-social-icon {
  font-size: 3rem;
  color: #fff;
  transition: all 0.4s;
}

.footer-social-icon:hover {
  color: var(--Soft-Red);
}