:root {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

body {
  font-size: 1.8rem;
  color:var(--Very-Dark-Blue);
}

/* NAVBAR */
.navbar {
  margin: 0 auto;
  text-align: center;
  max-width: 82.93%;
  padding: 4rem 0;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 90%; */
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: 0;
  padding: 10px 20px;
}

.menu--item {
  list-style: none;
  text-decoration: none;
  color: var(--Very-Dark-Blue);
  text-transform: uppercase;
}

.nav__menu {
  display: none;
}


/* Hero Section */
  .hero {
    position: relative;
  }

  .blue-thingy {
    position: absolute;
    top: 6rem;
    right: 0px;
    border-bottom-left-radius: 100px;
    background-color: var(--Soft-Blue);
    width: 30rem;
    height: 21rem;
    z-index: 1;
  }

  .hero__box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .box-image {
    order: -1;
    z-index: 2;
  }

  .box-items {
    max-width: 82.933%;
    margin: 0 auto;
    text-align: center;
    height: 27.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .items-header {
    font-size: 3rem;
  }

  .items-desc {
    font-size: 1.5rem;
    color: var(--Grayish-Blue);
    line-height: 1.7em;
  }

  .btn {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
  }

  .btn-blue {
    background-color: var(--Soft-Blue);
    color: #fff;
  }